GLOSSY VCLSTYLE "public_assets\Glossy.vsf"
MAINICON ICON "..\assets\termite.ico"
AMAKRITS VCLSTYLE "public_assets\Amakrits.vsf"
AQUAGRAPHITE VCLSTYLE "public_assets\AquaGraphite.vsf"
AQUALIGHTSLATE VCLSTYLE "public_assets\AquaLightSlate.vsf"
AURIC VCLSTYLE "public_assets\Auric.vsf"
CARBON VCLSTYLE "public_assets\Carbon.vsf"
COBALTXEMEDIA VCLSTYLE "public_assets\CobaltXEMedia.vsf"
CYANDUSK VCLSTYLE "public_assets\CyanDusk.vsf"
CYANNIGHT VCLSTYLE "public_assets\CyanNight.vsf"
GOLDENGRAPHITE VCLSTYLE "public_assets\GoldenGraphite.vsf"
LUNA VCLSTYLE "public_assets\Luna.vsf"
RUBYGRAPHITE VCLSTYLE "public_assets\RubyGraphite.vsf"
SILVER VCLSTYLE "public_assets\Silver.vsf"
SLATECLASSICO VCLSTYLE "public_assets\SlateClassico.vsf"
